@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Montserrat:wght@700&family=Roboto&display=swap');
*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    width: 1480px;
    margin: auto;
    font-family: Roboto, sans-serif;
}

.header {
    display: inline-block;
    height: 189px;
    margin: 63px 99px 48px 98px;
}

.logo_link span {
    color: deepskyblue;
}

.menu {
    display: block;
    height: 72px;
    background: #35444F;
    width: 1283px;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}

.menu li a:last-child {
    border-right: 1px solid white;
}

.menu li a {
    color: #FFFFFF;
    font-size: 24px;
    padding: 21px 38px 23px 38px;
    border-left: 1px solid white;
}

a {
    text-decoration: none;
    color: #0C1927;
}

.logo_link {
    margin-bottom: 38px;
    display: inline-block;
    text-decoration: none;
    font-size: 80px;
    color: black;
}

.menu a:hover {
    background-color: #222f3a;
    cursor: pointer;
}

.main_content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    align-content: center;
}

.left_menu {
    width: 344px;
    font-size: 27px;
    line-height: 27px;
    border: 1px solid black;
    margin: 0 52px 484px 0px;
}

.left_menu li {
    height: 79px;
    color: #495863;
    padding-top: 25px;
    padding-left: 42px;
}

.left_menu li:hover {
    background: #DBDBDB;
    cursor: pointer;
    color: #35444F;
    font-weight: bold;
    padding-left: 75px;
}

.left_menu a:hover {
    transform: translate(20px, 0)
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    align-items: stretch;
    width: 885px;
}

.fon_img {
    border: 1px solid black;
    width: 885px;
    height: 529px;
}

.img {
    transition: transform 1s;
    width: 320px;
    height: 381px;
    background: url("../img/1.png");
    margin: 75px 268px 73px 297px;
}

.img:hover {
    transform: scale(1.2);
}

.content_item {
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
}

.foot {
    display: inline-block;
    margin: 54px 100px 31px 100px;
}

.foot_nav ul {
    width: 1280px;
    display: inline-flex;
    font-size: 28px;
    line-height: 69px;
    color: #0C1927;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(99, 105, 110, 0.48);
}

.copyright {
    font-size: 24px;
    padding-right: 40px;
    margin-left: 135px;
}

.foot_nav li a:hover {
    border-bottom: 1px solid #3181A6;
    cursor: pointer;
    color: #3181A6;

}

.foot_nav ul:first-child {
    padding-left: 40px;
}

